# Dependencies
node_modules/

# Build outputs
.next/
.open-next/
out/
.wrangler/

# Misc
.DS_Store
*.pem

# Debug
npm-debug.log*

# Local env files
.env*.local

# Vercel
.vercel

# TypeScript
*.tsbuildinfo
next-env.d.ts